@model TeacherProject.Models.Student
@{
    ViewBag.Title = "Ajax_Update";
}

    /*
    This file uses a combination of server rendering and ajax logic.
    - Server Rendering to pull current information about the Student and display in fields
    - Request to update Student with new values is fulfilled by ajax
    */
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Student/List">Back To Students</a>
    </nav>
    <h2>Update @Model.StudentFName @Model.StudentLName</h2>
    @{
        /* AJAX Request to update Student */
        /* No form submission needed */
        /* button onclick will handle form submission */
        /* Each item has an ID for validation && ajax submission */


    }
    <div class="inputrow">
        <label for="StudentFName">First Name:</label>
        <input type="text" id="StudentFName" name="StudentFName" value="@Model.StudentFName" />

    </div>
    <div class="inputrow">
        <label for="StudentLName">Last Name:</label>
        <input type="text" id="StudentLName" name="StudentLName" value="@Model.StudentLName" />

    </div>
    <div class="inputrow">
        <label for="StudentNumber">Email:</label>
        <input type="text" id="StudentNumber" name="StudentNumber" value="@Model.StudentNumber" />
    </div>
    <div class="inputrow">
        <label for="EnrolDate">Biography:</label>
        <div>
            <input type="text" id="EnrolDate" name="EnrolDate" value="@Model.EnrolDate" />
        </div>
    </div>
    @{
        //UpdateStudent() is a JS method defined in /Scripts/students.js
    }
    <button onclick="UpdateStudent(@Model.StudentID);">Update Student</button>
</div>
