@model TeacherProject.Models.Course
@{
    ViewBag.Title = "Ajax_Update";
}

    /*
    This file uses a combination of server rendering and ajax logic.
    - Server Rendering to pull current information about the Course and display in fields
    - Request to update Course with new values is fulfilled by ajax
    */
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Course/List">Back To Courses</a>
    </nav>
    <h2>Update @Model.ClassCode @Model.ClassName</h2>
    @{
        /* AJAX Request to update Course */
        /* No form submission needed */
        /* button onclick will handle form submission */
        /* Each item has an ID for validation && ajax submission */


    }
    <div class="inputrow">
        <label for="ClassCode">Class Code:</label>
        <input type="text" id="ClassCode" name="ClassCode" value="@Model.ClassCode"/>

    </div>
    <div class="inputrow">
        <label for="TeacherID">Last Name:</label>
        <input type="text" id="TeacherID" name="TeacherID" value="@Model.TeacherID"/>

    </div>
    <div class="inputrow">
        <label for="StartDate">Start Date:</label>
        <input type="text" id="StartDate" name="StartDate" value="@Model.StartDate"/>
    </div>
    <div class="inputrow">
        <label for="FinishDate">Finish Date:</label>
        <div>
            <input type="text" id="FinishDate" name="FinishDate" value="@Model.FinishDate"/>
        </div>
    </div>
    <div class="inputrow">
        <label for="ClassName">Class Name:</label>
        <div>
            <input type="text" id="ClassName" name="ClassName" value="@Model.ClassName"/>
        </div>
    </div>
    @{
        //AddCourse() is a JS method defined in /Scripts/Courses.js
    }
    <button onclick="UpdateCourse(@Model.ClassID);">Update Course</button>
</div>

