@model TeacherProject.Models.Teacher
@{
    ViewBag.Title = "Ajax_Update";
}

    /*
    This file uses a combination of server rendering and ajax logic.
    - Server Rendering to pull current information about the teacher and display in fields
    - Request to update teacher with new values is fulfilled by ajax
    */
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
    </nav>
    <h2>Update @Model.TeacherFName @Model.TeacherLName</h2>
    @{
        /* AJAX Request to update teacher */
        /* No form submission needed */
        /* button onclick will handle form submission */
        /* Each item has an ID for validation && ajax submission */


    }
    <div class="inputrow">
        <label for="TeacherFName">First Name:</label>
        <input type="text" id="TeacherFName" name="TeacherFName" value="@Model.TeacherFName" />

    </div>
    <div class="inputrow">
        <label for="TeacherLName">Last Name:</label>
        <input type="text" id="TeacherLName" name="TeacherLName" value="@Model.TeacherLName" />

    </div>
    <div class="inputrow">
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber" />
    </div>
    <div class="inputrow">
        <label for="HireDate">Date Hired:</label>
        <div>
            <input id="HireDate" name="HireDate" value="@Model.HireDate" />
        </div>
    </div>
    <div class="inputrow">
        <label for="Salary">Salary:</label>
        <div>
            <input type="text" id="Salary" name="Salary" value="@Model.Salary" />
        </div>
    </div>
    @{
        //UpdateTeacher() is a JS method defined in /Scripts/teachers.js
    }
    <button onclick="UpdateTeacher(@Model.TeacherID);">Update Teacher</button>
</div>

